.App {
  text-align: center;
  height: 100vh;
  background-color: #afd4c0;
  
}



.fullHeader{
  background-color: #519872;
  height: 10vh;
  display: flex;
  align-items: center;
  
}
.navBar{
  display: flex;
  align-items: center;
}
.logo{
  margin: 20px;
}
.houserName{
  margin: 10px;
  display: flex;
  font-size: 2em;
  color: white;
  font-weight: 700;
}
.container{
  display: flex;
  border: solid 1px black;
  width: 75vw;
  flex-direction: column;
  
}
.individualHouses{
  border: 1px solid #000;
}
